#title {
    font-family: monospace;
    font-size: 3rem;
}

#content {
    padding: 20px;
}

#bit-input {
    width: 75%
}

.canvas-container {
    padding: 10px;
    border: solid black 1px;
    border-radius: 5px;
    overflow: auto;
    text-align: center;
}

.number-box {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 150%;
}

.number-box::-webkit-inner-spin-button,
.number-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

@media (min-width: 1248px) {
    #content {
        padding: 50px;
    }

    #bit-input {
        width: 30%;
    }
}
